header .row {
  display  : flex;
  flex-flow: row nowrap;
  align-items: center;
}

.sr-only {
  position: absolute;
  width   : 1px;
  height  : 1px;

  padding: 0;
  margin : -1px;

  overflow: hidden;
  clip    : rect(0, 0, 0, 0);
  border  : 0;
}

.menu-toggle {
  color : #333;
  margin: 1rem;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c85028;
}