body {
  font-family: monospace;
  font-size  : 16px;
}

header .row {
  display    : flex;
  flex-flow  : row nowrap;
  align-items: center;
}

.myName {
  font-weight: bold;
}

.sr-only {
  position: absolute;
  width   : 1px;
  height  : 1px;

  padding: 0;
  margin : -1px;

  overflow: hidden;
  clip    : rect(0, 0, 0, 0);
  border  : 0;
}

.menu-toggle {
  color : #333;
  margin: 1rem;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c85028;
}

/* hide */

.main-menu {
  position: fixed;
  display : none;
  left    : -200px;
  top     : 0;

  height: 100%;

  transition: left 0.3s ease-in-out;
  z-index   : 999;
}

.main-menu div {
  display: block;
  width  : 200px;
  height : 100%;

  padding         : 1rem;
  background-color: #1a1a1a;
  color           : white;
}

.main-menu .menu-close {
  position: absolute;
  right   : 0;
  top     : 0;

  color    : white;
  font-size: 1rem;
  padding  : 1rem;
}

/* active */

.main-menu:target {
  display: block;
  left   : 0;

  outline: none;
}

.main-menu:target .menu-close {
  z-index: 1001;
}

/* backdrop */

.main-menu:target .backdrop {
  position: fixed;
  display : block;
  left    : 0;
  top     : 0;

  width           : 100%;
  height          : 100%;
  background-color: rgba(0, 0, 0, 0.1);

  z-index: 998;
  cursor : default;
}

/* Mobile first */
@media (min-width: 800px) {

  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }

  .main-menu {
    position: static;
    display : block;
  }

  .main-menu div {
    padding: 0;
    height : auto;
    width  : auto;

    background: none;
    color     : black;

    overflow  : hidden;
    text-align: center;
  }
}